@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Products";
}
<h2>@ViewBag.Title.</h2>

<!DOCTYPE html>
<html>
<head>
    
</head>

<body>
   
    <div>
    <table style="background-color:transparent">
        <tr>
            <td><a href="facebook.com">
                    <img src="~/NR_backpack.png" alt="No Regrets Back pack" style="width: 300px; height:282px; border: 0;">
                </a>
                <p style="font-size:xx-large">$10.00</p>
                <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="L3GSJY8SGM9M2">
                    <table>
                        <tr><td><input type="hidden" name="on0" value="Sizes">Sizes</td></tr>
                        <tr>
                            <td>
                                <select name="os0">
                                    <option value="Option 1">One Size </option>
                                    
                                </select>
                            </td>
                        </tr>
                    </table>
                    <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>


            </td>
            <td><a href="facebook.com">
                    <img src="~/NR_bluejacket.png" alt="No Regrets Blue Jacket" style="width: 300px; height:282px; border: 0;">
                </a>
                <p style="font-size:xx-large">$30.00</p>
                <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="NF6D5FQ4V2CF8">
                    <table>
                        <tr><td><input type="hidden" name="on0" value="Sizes">Sizes</td></tr>
                        <tr>
                            <td>
                                <select name="os0">
                                    <option value="Small">Small </option>
                                    <option value="Medium">Medium </option>
                                    <option value="Large">Large </option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>

            </td>
            <td><a href="facebook.com">
                    <img src="~/NR_duffle.png" alt="No Regrets Black Duffle Bag" style="width: 300px; height:282px; border: 0;">
                </a>
                <p style="font-size:xx-large">$45.00</p>
                <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="3CPBYCEAQZ2U8">
                    <table>
                        <tr><td><input type="hidden" name="on0" value="Sizes">Sizes</td></tr>
                        <tr>
                            <td>
                                <select name="os0">
                                    <option value="One Size">One Size </option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>


            </td>
        </tr>
        <tr>
            <td>
                <a href="facebook.com">
                    <img src="~/NR_redbottle.png" alt="No Regrets Red Bottle" style="width: 300px; height:282px; border: 0;">
                </a>
                <p style="font-size:xx-large">$6.00</p>
                <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="NKTWNM9EU5KA8">
                    <table>
                        <tr><td><input type="hidden" name="on0" value="Sizes">Sizes</td></tr>
                        <tr>
                            <td>
                                <select name="os0">
                                    <option value="One Size">One Size </option>

                                </select>
                            </td>
                        </tr>
                    </table>
                    <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>

            </td>
            <td>
                <a href="facebook.com">
                    <img src="~/NR_redhoodie.png" alt="No Regrets Red Hoodie" style="width: 300px; height:282px; border: 0;">
                </a>
                <p style="font-size:xx-large">$35.00</p>
                <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="GMWGYQNTPUAKU">
                    <table>
                        <tr><td><input type="hidden" name="on0" value="Sizes">Sizes</td></tr>
                        <tr>
                            <td>
                                <select name="os0">
                                    <option value="Small">Small </option>
                                    <option value="Medium">Medium </option>
                                    <option value="Large">Large </option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>

            </td>
            <td>
                <a href="facebook.com">
                    <img src="~/NR_redjacket.png" alt="No Regrets Red Jacket" style="width: 300px; height:282px; border: 0;">
                </a>
                <p style="font-size:xx-large">$30.00</p>
                <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="S94GS4GHX8F74">
                    <table>
                        <tr><td><input type="hidden" name="on0" value="Sizes">Sizes</td></tr>
                        <tr>
                            <td>
                                <select name="os0">
                                    <option value="Small">Small </option>
                                    <option value="Medium">Medium </option>
                                    <option value="Large">Large </option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>

            </td>
        </tr>
        <tr>
            <td>
                <a href="facebook.com">
                    <img src="~/NR_redtank.png" alt="No Regrets Red Tank" style="width: 300px; height:282px; border: 0;">
                </a>
                <p style="font-size:xx-large">$15.00</p>
                <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="H5YTQPV5TGFXL">
                    <table>
                        <tr><td><input type="hidden" name="on0" value="Sizes">Sizes</td></tr>
                        <tr>
                            <td>
                                <select name="os0">
                                    <option value="Small">Small </option>
                                    <option value="Medium">Medium </option>
                                    <option value="Large">Large </option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>

            </td>
            <td>
                <a href="facebook.com">
                    <img src="~/NR_tshirt.png" alt="No Regrets TShirt" style="width: 300px; height:282px; border: 0;">
                </a>
                <p style="font-size:xx-large">$25.00</p>
                <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="5V5W8ZXJ53MWG">
                    <table>
                        <tr><td><input type="hidden" name="on0" value="Sizes">Sizes</td></tr>
                        <tr>
                            <td>
                                <select name="os0">
                                    <option value="Small">Small </option>
                                    <option value="Medium">Medium </option>
                                    <option value="Large">Large </option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>

            </td>
            <td>
                <a href="facebook.com">
                    <img src="~/NR_tshirt2.png" alt="No Regrets TShirt2" style="width: 300px; height:282px; border: 0;">
                </a>
                <p style="font-size:xx-large">$25.00</p>
                <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="4QKWR3T2ADMNL">
                    <table>
                        <tr><td><input type="hidden" name="on0" value="Sizes">Sizes</td></tr>
                        <tr>
                            <td>
                                <select name="os0">
                                    <option value="Small">Small </option>
                                    <option value="Medium">Medium </option>
                                    <option value="Large">Large </option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>

            </td>
        </tr>
        <tr>
            <td>
                <a href="facebook.com">
                    <img src="~/NR_vneck.png" alt="No Regrets V-Neck1" style="width: 300px; height:282px; border: 0;">
                </a>
                <p style="font-size:xx-large">$25.00</p>
                <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="WA9QJWXXWFY4Y">
                    <table>
                        <tr><td><input type="hidden" name="on0" value="Sizes">Sizes</td></tr>
                        <tr>
                            <td>
                                <select name="os0">
                                    <option value="Small">Small </option>
                                    <option value="Medium">Medium </option>
                                    <option value="Large">Large </option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>

            </td>
            <td>
                <a href="facebook.com">
                    <img src="~/NR_vneck2.png" alt="No Regrets V-Neck2" style="width: 300px; height:282px; border: 0;">
                </a>
                <p style="font-size:xx-large">$25.00</p>
                <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="AGZMBPHTDCC5J">
                    <table>
                        <tr><td><input type="hidden" name="on0" value="Sizes">Sizes</td></tr>
                        <tr>
                            <td>
                                <select name="os0">
                                    <option value="Small">Small </option>
                                    <option value="Medium">Medium </option>
                                    <option value="Large">Large </option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>

            </td>
            <td>
                <a href="facebook.com">
                    <img src="~/NR_whitebottle.png" alt="No Regrets White Bottle" style="width: 300px; height:282px; border: 0;">
                </a>
                <p style="font-size:xx-large">$6.00</p>
                <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="UNW37SYZAR29G">
                    <table>
                        <tr><td><input type="hidden" name="on0" value="Sizes">Sizes</td></tr>
                        <tr>
                            <td>
                                <select name="os0">
                                    <option value="One Size">One Size </option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>

            </td>
        </tr>
    </table>
  </div>

</body>

</html>