@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>

<head>

</head>

<body>

    <img src="~/NR_redjacket.png" alt="No Regrets red jacket" style="width: 900px; height: 1100px;" />
    <a href="/Home/Products" style="font-size:x-large">Back to Merchandise Page</a>
</body>
</html>